<div class="big-card_container">

    <div class="big-card_photo">
        <img 
            src="poderosomago.avif" 
            alt="imagem teste"
            width="400px"
            height="200px"
        >
    </div>

    <div class="big-card_title">
        <a href="">A história do poderoso mago BestBeer</a>
    </div>

    <div class="big-card_text">
        <p><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non massa eu velit porttitor ornare id id lacus. Donec ex mi, convallis vel congue vel, ornare nec mauris. Nulla non luctus leo. Vestibulum aliquam faucibus libero eget ullamcorper</a></p>
    </div>
    
</div>