.big-card_container {
    width: 550px;
    height: 550px;

    margin: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.big-card_title {
    a {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
}

.big-card_text {
    margin-top :15px;

    p {
        a {
            font-size: 16px;
            color: gray;
        }
    }
}

.big-card_photo {
    img {
        width: 100%;
        height: 270px;

        margin-bottom: 15px;

    }
}

@media screen and (max-width: 390px) {
    .big-card_container {
        width: 360px;

        margin: 0px;

        place-self: center;
    }

    .big-card_title {
        a {
            font-size: 22px;
        }
    }
}