.content_container {
    width: 100%;
    height: 100vh;

    margin-top: 20px;

    border: solid 1px #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover_content {
    border: 1px solid grey;

    img {
        width: 500px;
        min-width: 500px;
        height: 300px;
    
        border: 5px solid darkgray;
        border-radius: 5px;
    }
}

.title_content {
    h1 {
        color: whitesmoke;
    }
}

.description_content {
    margin-top: 15px;

    p {
        color: grey;
    }
}