.container_articles {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_articles {}

.others_articles {}

header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}